<%= form_for(@info) do |f| %>

  <% if @info.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@info.errors.count, "error") %> prohibited this info from being saved:</h2>
      <ul>
      <% @info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    
  <% end %>

<script>
  function helloWorld(event){
    var url = null;
    file.forEach(function (array) { url = array['url']} )
    debugger;
  }
</script>

  <div>
    <%= f.label :image, "Upload Your Avatar:" %>
    <%= f.filepicker_field :image, class: "round filepicker", onchange: 'helloWorld(event)' %>
  </div>
  <br>

  <% offset = rand(Question.count) %>
  <div>
    <%= f.label "#{Question.first(offset: offset).main_postq}" %>
    <%= f.text_area :main_post, rows: 20 %>
  </div>
  
  <div class="actions">
    <%= f.submit :"Find Happiness"%>
  </div>

<% end %>
