<h1>Search Results</h1>

<br>

<% if @infos.empty? %>

  <p>No results found.</p>

<% else %>

  <p><%= "#{@infos.count} result(s) found." %></p>

  <% @infos.each do |info| %>
      <p><%= info.title %></p>
      <p><%= info.main_post %></p>
      <p><%= info.address %></p>
      <span><%= link_to "Info", info_path(info) %></span> |     
      <span><%= link_to "Edit", edit_info_path(info) %></span> | 
      <span><%= link_to "Delete", info_path(info), method: :delete %></span>
  <% end %>

<% end %>
