<p id="notice"><%= notice %></p>

<script type='text/javascript' src='jsapi'></script>
<script type='text/javascript'>
  google.load('visualization', '1', {'packages':['annotatedtimeline']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Date');
    data.addColumn('number', 'Happy');   
    data.addColumn('number', 'Img');
    data.addColumn('number', 'Health');
    data.addColumn('number', 'Wealth');
    data.addColumn('number', 'Culture');
    data.addColumn('number', 'Location');
    data.addColumn('number', 'Spirit');
    data.addColumn('number', 'Relations');
    data.addColumn('number', 'Activity');
    data.addColumn('number', 'Passion');
    data.addColumn('number', 'Comfort');
    data.addColumn('number', 'View');
    data.addColumn('string', 'Post');

    var date = gon.date;
    var info = gon.infos;
    var health = gon.health;
    info.forEach( function (arrayItem) {
      for (var i in date) {
        data.addRows([
         [new Date(Date.parse(date[i])), arrayItem['happy_scale'], arrayItem['smile'], arrayItem['health_scale'], arrayItem['wealth_scale'], arrayItem['culture_scale'], arrayItem['location_scale'], arrayItem['spirituality_scale'], arrayItem['relationship_scale'], arrayItem['activity_scale'], arrayItem['passion_scale'], arrayItem['satisfaction_scale'], arrayItem['self_view_scale'], arrayItem['main_post']]
         ]);
      }
    });

    var options = {
      colors: ['#e0440e', '#FFCC00'],
      displayAnnotations: true,
      legendPosition: 'newRow',
      max: 10,
      wmode: 'opaque',
      thickness: 2,
      displayAnnotations: true,
    };

    var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>

<p> "hi" </p>
<br>
<div id='chart_div' style='width: 1200px; height: 640px;'></div>

<br><br>

<% unless @response.nil? %>
  <h1><%= @response.body["face"] %></h1>
<% end %>

<% unless @info.image.blank? %>
  <%= filepicker_image_tag @info.image, w: 400, h: 400, fit: 'clip', class: 'center' %>
  <%= filepicker_save_button "Save", @info.image, "image/jpg" %>
<% end %>

<p>
  <strong>Infos:</strong>
  <%= @infos.map(&:serializable_hash)%>
</p>

<p>
  <strong>Smile:</strong>
  <%= @info.smile %>
</p>

<p>
  <strong>Health:</strong>
  <%= @info.happy_scale %>
</p>

<p>
  <strong>Health:</strong>
  <%= @info.health_scale %>
</p>

<p>
  <strong>Wealth:</strong>
  <%= @info.wealth_scale %>
</p>

<p>
  <strong>Culture:</strong>
  <%= @info.culture_scale %>
</p>

<p>
  <strong>Location:</strong>
  <%= @info.location_scale %>
</p>

<p>
  <strong>Spirituality:</strong>
  <%= @info.spirituality_scale %>
</p>

<p>
  <strong>Relationships:</strong>
  <%= @info.relationship_scale %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @info.activity_scale %>
</p>

<p>
  <strong>Passion:</strong>
  <%= @info.passion_scale %>
</p>

<p>
  <strong>Satisfaction:</strong>
  <%= @info.satisfaction_scale %>
</p>

<p>
  <strong>Self View:</strong>
  <%= @info.self_view_scale %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
